
<div style="padding: 30px">
    <h2>Edit Book Record</h2>
    <form name="updateForm" novalidate ng-submit="ctrl.edit(ctrl.bookinfo.id)" autocomplete="off">
        <div class="form-group">
            <label for="title">Title: {{ctrl.bookinfo.id}}</label>
            <input type="text" id="title" name="title"
                   class="form-control" ng-model="ctrl.bookinfo.title" value="{{ctrl.bookinfo.title}}" required>
            <span class="help-block" ng-show="updateForm.title.$invalid">
                Please enter title.</span>
        </div>
        <div class="form-group">
            <label for="author_firstname">First name:</label>
            <input type="text" id="author_firstname" name="author_firstname"
                   class="form-control" ng-model="ctrl.bookinfo.author_firstname"
                   value="{{ctrl.bookinfo.author_firstname}}" required>
            <span class="help-block" ng-show="updateForm.author_firstname.$invalid">
                Please enter firstname.</span>
        </div>
        <div class="form-group">
            <label for="author_lastname">Last name:</label>
            <input type="text" id="author_lastname" name="author_lastname"
                   class="form-control" ng-model="ctrl.bookinfo.author_lastname"
                   value="{{ctrl.bookinfo.author_lastname}}" required>
            <span class="help-block" ng-show="updateForm.author_lastname.$invalid">
                Please enter lastname.</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-success form-control"
                    ng-disabled="updateForm.$invalid">
                Update
            </button>
        </div>
    </form>
</div>
