.headerstyle{
    text-align: center;
    color:  slategrey;
    font-weight: bold;
}

.sub_headerstyle{
    text-align: center;
    color:  slategrey;
}

.table_styling{
    border-spacing: 200px;
}
